html {
    
    overflow-x: hidden;
   
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
overflow-x: hidden;

}
.forWall {
    background-image: url("blackWall.jpg");
    background-size: cover;
}
.navBar {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    
}

.bi-lightning-fill  {
    font-size: 25px;
    cursor: pointer;
    
}
.bi-list {
    font-size: 35px;
    cursor: pointer;
    
}
.menuList {
    display: flex;
    justify-content: flex-end;
}
.listItems {
    list-style: none;
    margin-right: 30px;
}
.listItems a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    
}
.imageMain {
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.landingImage {
    max-width: 100%;
    height: auto;
    margin-top: 2px;
    padding: 40px;
 
}
.headerText {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: center;
    margin-left: 5vw;
    position: relative;
}
.whiteAirForceText {
    position: absolute;
    bottom: 20vw;
    color: white;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.whiteAirForceParagraph {
    color: white;
    position: absolute;
    bottom: 14vw;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.headerButtons {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    position: relative;
}
.purchase {
    position: absolute;
    bottom: 10vw;
    color: white;
    background-color: black;
    z-index: 1;
    font-size: 17px;
    padding: 20px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: 1px white solid;
    cursor: pointer;
}
.purchase2 {
    position: absolute;
    bottom: 10vw;
    right: 59vw;
    color: white;
    background-color: black;
    z-index: 1;
    font-size: 17px;
    padding: 20px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: 1px white solid;
    cursor: pointer;
}
.purchase:hover, .purchase2:hover  {
    color: white;
    border: 1px solid gray;
    background-color: black;
    opacity: 0.7;
    transform: translateY(-10px);
    transition: all ease-in-out 0.5s;
}
.priceMain {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.price {
    color: white;
    font-size: 20px;
    position: absolute;
    font-size: 30px;
    background-color: black;
    border: 1px white solid;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    bottom: 32vw;
left: 61vw;
}
@media screen and (min-width:1800px) {
    .price {
        color: white;
        font-size: 20px;
        position: absolute;
        font-size: 30px;
        background-color: black;
        border: 1px white solid;
        border-radius: 10px;
        padding: 10px 15px 10px 15px;
        bottom: 22vw;
    left: 61vw;
    }
}
@media screen and (max-width:1200px) {

    .purchase {
        position: absolute;
        
        bottom: 7vw;
        font-size: 17px;
        padding: 20px;
    }
    .price {
        color: white;
        position: absolute;
        font-size: 30px;
        padding: 10px 15px 10px 15px;
        bottom: 38vw;
    left: 69vw;
    }
}

@media screen and (min-width:921px) {
    .bi-list {
        display: none;
     
    }
}

@media screen and (max-width:921px) {
    .menuList {
        display: none;
     
    }
  
    .headerText {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        position: relative;
        margin-top: 7vw;
    }
    .whiteAirForceText {
        position: absolute;
        bottom: 14vw;
        color: white;
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .whiteAirForceParagraph {
        color: white;
        position: absolute;
        bottom: 5vw;
        font-size: 15px;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

  .headerButtons {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    position: relative;
}
.purchase {
    position: absolute;
    right: 68vw;
    bottom: 30vw;
    font-size: 16px;
    padding: 20px;
  
}
.priceMain {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.price {
    color: white;
    position: absolute;
    font-size: 30px;
    padding: 10px 15px 10px 15px;
    bottom: 62vw;
left: 72vw;
}
}



@media screen and (max-width:600px) {
    .purchase {
        position: absolute;
        right: 64vw;
        bottom: 27vw;
        font-size: 14px;
        padding: 20px;
      
    }
    .price {
        color: white;
        position: absolute;
        font-size: 30px;
        padding: 10px 15px 10px 15px;
        bottom: 75vw;
    left: 75vw;
    }
}


@media screen and (max-width:541px) {
    .whiteAirForceText {
        position: absolute;
        bottom: 15vw;
        color: white;
        text-transform: uppercase;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .whiteAirForceParagraph {
        color: white;
        position: absolute;
        bottom: 0vw;
        text-align: justify;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
    }

}


@media screen and (max-width:435px) {
    .whiteAirForceText {
        position: absolute;
        bottom: 15vw;
        color: white;
        text-transform: uppercase;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .whiteAirForceParagraph {
        color: white;
        position: absolute;
        bottom: -3vw;
        text-align: justify;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
    }
    .purchase {
        position: absolute;
        right: 56vw;
        bottom: 27vw;
        font-size: 14px;
        padding: 13px;
      
    }
    .price {
        color: white;
        position: absolute;
        font-size: 30px;
        padding: 10px 15px 10px 15px;
        bottom: 75vw;
    left: 75vw;
    }
  
}
@media screen and (max-width:420px) {
    .whiteAirForceParagraph {
        color: white;
        position: absolute;
        bottom: -2vw;
        font-size: 14px;
        text-align: justify;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
    }
}
@media screen and (max-width:391px) {
    .purchase {
        position: absolute;
        right: 55vw;
        bottom: 27vw;
        font-size: 12px;
        padding: 13px;
      
    }
    .price {
        color: white;
        position: absolute;
        font-size: 20px;
        padding: 10px 15px 10px 15px;
        bottom: 75vw;
    left: 75vw;
    }
    .whiteAirForceText {
        position: absolute;
        bottom: 15vw;
        color: white;
        text-transform: uppercase;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .whiteAirForceParagraph {
        color: white;
        position: absolute;
        bottom: -3vw;
        font-size: 12px;
        text-align: justify;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
    }
}
@media screen and (max-width:320px) {
    .whiteAirForceParagraph {
        color: white;
        position: absolute;
        bottom: 0vw;
        font-size: 10px;
        text-align: justify;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
    }
    .purchase {
        position: absolute;
        right: 55vw;
        bottom: 27vw;
        font-size: 10px;
        padding: 13px;
      
    }
    .price {
        color: white;
        position: absolute;
        font-size: 18px;
        padding: 10px 15px 10px 15px;
        bottom: 75vw;
    left: 75vw;
    }
}

.shoesGridMain {
    display: flex;
    justify-content: center;
    position: relative;
}
.shoesGrid {
    display: grid;
     grid-template-columns: 100px 100px 100px 100px;
     gap: 25px;
     width: auto;
     height: auto;
     position: absolute;
     bottom: 16vw;
     right: 2vw;
}
.gridshoes {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
    border: 1px white solid;
}
.gridshoes:hover {
    transition: all ease-in-out 0.5s;
    opacity: 0.8;
}
.viewall {
    color: black;
    display: flex;
    margin: 30px;
    justify-content: flex-end;
}
#products {
    transition: all ease-in-out 2s;
margin-top: 40px;
display: flex;
justify-content: center;
}

.productsDisplay {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: 300px 300px 300px 300px;
    gap: 105px;
}
.firstproduct {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 0px;
    cursor: pointer;
}
.firstproduct:hover {
    transition: 0.5s;
    transform: translateY(-10px);
}
.texts {
 display: flex;
 text-align:center;
 max-width: 100%;
 align-items: center;
justify-content: space-between;
margin: 20px;

}
.text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      
}